<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome to our Website</h1>
<div>
    <p>This is the home page of our website. Feel free to explore and learn more about what we have to offer.</p>
</div>
<div >
    <span>Have an account? <br>
        <a href="/login">
            <button class="btn btn-red">Login</button>
        </a>
    </span><br>
    <span> Create new account? <br>
        <a href="/signup">
            <button class="btn btn-blue">Sign up</button>
        </a>
    </span>

</div>
</body>
</html>