<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <title>Sign Up</title>
</head>
<body>
<div>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" minlength="3" id="username" name="username" maxlength="15" required><br><br>

        <label for="password">Password:</label>
        <input type="password" minlength="6" id="password" name="password" maxlength="15" required><br><br>

        <label for="email">Email:</label>
        <input type="email" minlength="6" id="email" name="email" maxlength="30" required><br><br>
        OR
        <a href = "/login">Login</a>
        <p style ="color : red" th:if ="${error}"></p>
        <button class="btn" type="submit">Sign Up</button>
    </form>
    </div>
</body>
</html>